<% if signed_in %>
  <p>Hello! You're signed in to Trello as <%= person.full_name %>.</p>

  <p>Select the boards to visualise:</p>

  <form action="/visualise">
    <ul>
      <% boards.each do |board| %>
        <li>
          <input id="<%= board.id %>" name="<%= board.id %>" type=checkbox>
          <label for="<%= board.id %>"><%= board.name %></label>
        </li>
      <% end %>
    </ul>
    <input type=submit>
  </form>
<% else %>
  <p>Trello Zettelkasten lets you visualise links between Trello cards.</p>
  <p><a href="/auth/Trello">Sign in with Trello to begin</a>!</p>
<% end %>

