<p>Hello! You're signed in to trello as <%= person.full_name %>.</p>

<p>Select the boards you wish to visualise:</p>

<form action="/visualise">
  <ul>
    <% boards.each do |board| %>
      <li>
        <input id="<%= board.id %>" name="<%= board.id %>" type=checkbox>
        <label for="<%= board.id %>"><%= board.name %></label>
      </li>
    <% end %>
  </ul>
  <input type=submit>
</form>
